.image-gallery {
  margin-bottom: 12px;
}

.image-gallery-slides {
  height: 390px;
  cursor: pointer;
}

.image-gallery-slide, .image-gallery-image {
  height: 100%;
  max-height: unset;
  object-fit: cover !important;
}